

.about-drink {
    flex-grow: 1;
}

.about-drink-container {
    width: 100%;
    height: 250px;
    background-image: url('../images/moscowMule.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#recipe-title {
    text-align: center;
    padding-top: 3em;
}