.navigation-main-div{
    width: 100%;
    flex-grow: 1;
}

.menuButton {
    margin-left: -12px;
    margin-right: 20px;
}

.cocktail-recipes-home {
    display: flex;
    padding-left: 2%;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}