#main-div {
    height: 50%;
    margin-top: 5%;
}

#users-info {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 100%;
}

#users-cocktails {
    padding-top: 5%;
    margin-top: 30%;
    background-color: white;
}

