

.about-drink {
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.about-drink-container {
    min-height: 300px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#recipe-title {
    padding-top: 5%;
    padding-bottom: 5%;
}

.recipe-about-text {
    padding-bottom: 5%;
}

.recipe-about {
    padding-bottom: 2%;
}