#cocktails-section {
    background-color: white;
    padding-bottom: 10%;
    padding-top: 8%;
}

#web-title {
    margin: 20%;
    margin-bottom: 6%;
}

.card-cocktail {
    max-width: 345px;
}

.card-image-cocktail {
    min-height: 140px;
}

#cocktails-section {
    padding-left: 10%;
    padding-right: 10%;
}